@{
    ViewData["Title"] = "Confirmation";
}

@model Movies //indicates which model we want to use; like setting a variable for the model

<h1>Thanks for adding "@Model.Title" to our database!</h1>
<br />
<p>
    Click <a asp-controller="Home" asp-action="MovieForm">HERE</a>
    to add another film!
</p>
<p>
    Click <a asp-controller="Home" asp-action="Entries">HERE</a>
    to view your movie database!
</p>
