html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.sub-movie {
    background-color: #007bff; /* Blue background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding around text */
    border-radius: 5px; /* Rounded corners */
    border: none; /* No border */
    cursor: pointer; /* Cursor style */
    text-align: center; /* Center text */
    text-decoration: none; /* No underline */
    display: inline-block;
}

.sub-movie:hover {
    background-color: #0056b3; /* Darker blue on hover */
}